{
	margin: 0;
	padding: 0;
}

body
{
	/*background: #0b2d51;*/
	background: #f6f6f6;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#header
{
	position: absolute;
	top: 5px;
	left: 20px;
}

#nav
{
	position: absolute;
	right: 0px;
	top: 0px;
	background: #ccc;
	width: 100%;
	height: 40px;
	text-align: right;
	/*padding: 20px 6px 10px 0px;*/
	padding: 20px 0px 0px 0px;
	border-bottom-style: solid;
	border-width: 5px;
}

#nav a
{
	font-size: 15px;
	color: #000;
	text-decoration: none;
	/*padding: 6px 10px 6px 10px;*/
	padding: 0px 20px 0px 0px;
	background: url("link.png") 5px 5px no-repeat;
}

#nav a:hover
{
	color: #0b2d51;
	text-decoration: underline;
}

#content-container
{
	padding: 100px 10px 10px 10px;
	color: #000;
}

#main-content
{
	float: left;
	width: 65%;
	/*border-style: solid;*/
	clear: left;
}

#sidebar
{
	float: right;
	width: 50px;
	/*border-style: solid;*/
}

.clear { clear: both; }

#foot
{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 30px;
	background: #000;
	/*background: -webkit-gradient(linear,left bottom,left top,from(#000),to(#f6f6f6));*/
	text-align: center;
	padding: 5px 0px 5px 0px;
	color: #f6f6f6;
	font-size: 10px;
}